/build/bin
/build/jar
/build/generated
/build/pom/target
/**/*.settings
/**/*.classpath
/**/*.project
/**/*.jar
/**/*.class
/**/*.lst
/**/target/classes
/**/target/maven-archiver
/**/target/generated-sources
/**/target/test-classes
/**/target/maven-status
/**/target/self-repo-temp
/**/dependency/jar

